.login_form,
.signup_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.form_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.form_header .form_icon {
  color: var(--main_color);
  font-size: 60px;
  padding-bottom: -30px;
}
.navbar_login .login_form h1,
.navbar_login .signup_form h1 {
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.light_mode .navbar_login .login_form h1,
.light_mode .navbar_login .signup_form h1 {
  color: black;
}
.navbar_login form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.navbar_login form input {
  padding: 10px 15px;
  border-radius: var(--border_radius);
  border: none;
  outline: none;
}
.light_mode .navbar_login form input {
  background: #d5dde0;
}
.light_mode .navbar_login form input::placeholder {
  color: #676767;
}
.navbar_login form .keep_login {
  width: 100%;
  display: flex;
  gap: 10px;
}
.navbar_login form .keep_login input {
  cursor: pointer;
}
.navbar_login form .keep_login label {
  font-size: 14px;
  cursor: pointer;
}
.navbar_login form button {
  width: 100px;
  color: white;
  background-image: linear-gradient(120deg, #32e9f6 0%, #1a6bdc 100%);
  margin: 20px auto 0px auto;
  padding: 10px 25px;
  border: none;
  outline: none;
  border-radius: 25px;
  transition: var(--main_transition);
  cursor: pointer;
}
.navbar_login form button:hover {
  background-image: linear-gradient(120deg, #1a6bdc 0%, #32e9f6 100%);
}
.navbar_login .login_span {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}
.navbar_login .login_span:hover {
  color: var(--main_color);
  text-decoration: underline;
}
.navbar_login .signup_span {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.navbar_login .signup_span span {
  margin-left: 5px;
  cursor: pointer;
}
.navbar_login .signup_span span:hover {
  color: var(--main_color);
  text-decoration: underline;
}
