.rSide_symbol {
  width: 100%;
  height: 93%;
  background-color: #525252;
  padding-bottom: 15px;
  border-radius: 0 4px 4px 4px;
}
.light_mode .rSide_symbol {
  background-color: #d5dde0;
}
.rSide_symbol .rSide_content {
  padding-top: 35px;
}
.rSide_symbol .rSide_section {
  width: calc(100% - 12px);
  max-height: 100%;
  height: 600px;
  background-color: #292929;
  margin-right: 6px;
  margin-left: 6px;
  padding: 6px;
  border-radius: var(--border_radius);
  overflow: auto;
}
.rSide_symbol .rSide_section hr {
  width: 100%;
  height: 1px;
  background-color: #525252;
  margin-top: 3px;
  border: none;
  outline: none;
}
.light_mode .rSide_symbol .rSide_section {
  background-color: white;
}
.rSide_symbol .rSide_section .symbol_data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.rSide_symbol .rSide_section .symbol_data_div {
  display: flex;
  justify-content: space-between;
}
.rSide_section .symbol_data_div .data_name {
  font-size: 14px;
  color: #a5a5a5;
}
.light_mode .rSide_section .symbol_data_div .data_name {
  color: #212121;
}
.rSide_section .symbol_data_div .data_value {
  font-size: 13px;
}
