.rSide_symbol {
  width: 100%;
  height: 93%;
  background-color: #525252;
  padding-bottom: 15px;
  border-radius: 0 4px 4px 4px;
}
.light_mode .rSide_symbol {
  background-color: #d5dde0;
}
.rSide_symbol .rSide_content {
  height: 100%;
  padding-top: 10px;
}
.rSide_symbol .rSide_section {
  width: calc(100% - 12px);
  height: 100%;
  background-color: #292929;
  margin-right: 6px;
  margin-left: 6px;
  padding: 6px;
  border-radius: var(--border_radius);
  overflow: auto;
}
.rSide_symbol .rSide_section hr {
  width: 100%;
  height: 1px;
  background-color: #525252;
  margin-top: 3px;
  border: none;
  outline: none;
}
.light_mode .rSide_symbol .rSide_section hr {
  background-color: #d5dde0;
}
.light_mode .rSide_symbol .rSide_section {
  background-color: white;
}
.rSide_symbol .rSide_section .symbol_data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.rSide_section .symbol_data .symbol_data_title {
  display: flex;
  align-items: center;
  gap: 5px;
}
.rSide_section .symbol_data .symbol_data_head {
  font-weight: bold;
  font-size: 14px;
}
.rSide_section .symbol_data .symbol_data_frame {
  font-size: 11px;
  margin-left: 5px;
}
.rSide_section .symbol_data .symbol_data_symbol {
  font-size: 10px;
  margin-left: 5px;
}
.rSide_symbol .rSide_section .symbol_data_div {
  display: flex;
  justify-content: space-between;
}
.rSide_section .symbol_data_div .data_name {
  font-size: 14px;
  color: #a5a5a5;
}
.light_mode .rSide_section .symbol_data_div .data_name {
  color: #7f7f7f;
}
.rSide_section .symbol_data_div .data_value {
  font-size: 13px;
}
