.symbol {
  height: calc(100vh - 300px);
}
/* Search Section */
.search_section {
  height: 25px;
  width: 100%;
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.search_section .search_field {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.search_section .search_field .search_input {
  width: 100%;
  color: #bababa;
  background-color: #1a1a1a;
  font-size: 11px;
  padding: 3px 8px;
  border: none;
  outline: none;
  position: relative;
  border-radius: var(--border_radius);
}
.light_mode .search_section .search_field .search_input {
  color: #000;
  background-color: #e6ebed;
}
.search_section .search_field .search_input::placeholder {
  font-size: 10px;
}
.search_field .search_input::-webkit-search-cancel-button {
  appearance: none;
}
.search_section .search_field i {
  color: #bababa;
  font-size: 13px;
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
}
@media (min-width: 1120px) {
  .search_section .search_field i {
    font-size: 16px;
  }
}
.light_mode .search_section .search_field i {
  color: #6f6f6f;
}
.symbols_search .symbols_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
@media (min-width: 1120px) {
  .symbols_search .symbols_ul {
    gap: 2px;
  }
}
.symbols_ul .symbols_li {
  color: #bababa;
  font-size: 8px;
  padding: 2px;
  cursor: pointer;
  border-radius: var(--border_radius);
}
@media (min-width: 1120px) {
  .symbols_ul .symbols_li {
    font-size: 9px;
  }
}
.symbols_ul .symbols_active {
  color: white;
  background-color: #4a4a4a;
}
.light_mode .symbols_ul .symbols_li {
  color: #2a2a2a;
  background-color: #ebebeb;
}
.symbols_ul .symbols_li:hover {
  background-color: #4a4a4a;
}
.light_mode .symbols_ul .symbols_li:hover {
  background-color: #d8d8d8;
}
.market_section .data_header {
  height: 20px;
  width: 100%;
  background-color: #a3a3a3;
  display: flex;
  justify-content: flex-end;
  gap: 13px;
  padding: 4px 33px 4px 0px;
  margin-top: 5px;
}
@media (max-width: 480px) {
  .market_section .data_header {
    gap: 17px;
    padding: 4px 38px 4px 0px;
  }
}
.light_mode .market_section .data_header {
  background-color: #d5dde0;
}
.market_section .data_header .data_header_p {
  color: #2c2c2c;
  font-size: 10px;
  text-align: right;
  font-weight: bold;
}
@media (min-width: 1120px) {
  .market_section .data_header .data_header_p {
    font-size: 11px;
  }
}
.symbol .symbol_section {
  max-height: calc(100% - 45px);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 6px;
  overflow: auto;
}
@media (min-width: 481px) and (max-width: 767px) {
  .symbol .symbol_section {
    max-height: 320px;
  }
}
.popular .popular_section {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #525252;
  padding: 6px 0px 6px 10px;
  border-radius: var(--border_radius);
  cursor: pointer;
}
.light_mode .popular .popular_section {
  background-color: #d5dde0;
}
.popular .popular_section i {
  color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--main_transition);
}
.light_mode .popular .popular_section i {
  color: #4a4d4f;
}
.popular .popular_section:hover i {
  color: white;
}
.light_mode .popular .popular_section:hover i {
  color: #000;
}
.popular .popular_section p {
  font-size: 11px;
}
.symbol .category_symbol {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.symbol .category_symbol .category_symbol_section {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #525252;
  padding: 6px 0px 6px 10px;
  border-radius: var(--border_radius);
  cursor: pointer;
}
.light_mode .category_symbol .category_symbol_section {
  background-color: #d5dde0;
  display: flex;
  align-items: center;
  gap: 2px;
}
.symbol .category_symbol_section i {
  color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--main_transition);
}
.light_mode .symbol .category_symbol_section i {
  color: #4a4d4f;
}
.symbol .category_symbol_section:hover i {
  color: white;
}
.light_mode .symbol .category_symbol_section:hover i {
  color: #000;
}
.category_symbol_section .category_info {
  display: flex;
  gap: 5px;
}
.category_symbol_section .category_info .category_name {
  font-size: 11px;
}
.category_symbol_section .category_info .category_num {
  font-size: 11px;
}
