.market_section {
  background-color: var(--body_color);
  padding: 4px;
  flex: 1;
}
.light_mode .market_section {
  background-color: white;
}
/* Market Tabs */
.market_section .market_tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-top: 3px;
}
.market_tabs .tab_list {
  width: 50%;
  color: white;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  background-color: #4a4a4a;
  padding: 5px;
  cursor: pointer;
}
.light_mode .market_tabs .tab_list {
  color: #000;
  background-color: #edf0f2;
}
.market_tabs .tab_list:first-child {
  border-radius: 4px 0px 0px 4px;
}
.market_tabs .tab_list:last-child {
  border-radius: 0px 4px 4px 0px;
}
.market_tabs .active_tab {
  background-color: #3b3b3b;
  border-bottom: 1px solid var(--main_color);
}
.light_mode .market_tabs .active_tab {
  background-color: #d5dde0;
}
