.charts {
  height: 100%;
}
.charts .charts_view {
  height: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  grid-gap: 5px;
}
.chart.full-width {
  width: 100%;
}
