.mailing_list {
  max-width: 100%;
  display: flex;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  .mailing_list {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .mailing_list {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
}

/* Left Side */
.mailing_left {
  width: 50%;
  padding-bottom: 50px;
  border-radius: 8px;
  background-image: linear-gradient(10deg, #19499c 0%, #2980b9 100%);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .mailing_left {
    display: none;
  }
}
.mailing_left .mailing_left_info {
  padding: 30px;
}
.mailing_left_info .mailing_h2 {
  color: white;
  font-size: 30px;
}
.mailing_left_info .mailing_details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 30px;
}
.mailing_left_info .mailing_details .mailing_h4 {
  color: white;
}
.mailing_left_info .mailing_details .mailing_p1 {
  color: rgb(220, 220, 220);
  font-size: 13px;
}
.mailing_left_info .mailing_details .mailing_p2 {
  color: white;
  font-size: 12px;
}
.mailing_left_info .mailing_details .mailing_icons {
  display: flex;
  gap: 10px;
}
.mailing_left_info .mailing_details .mailing_icons i {
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.mailing_left_info .mailing_details .mailing_icons i:hover {
  color: #7aa1e3;
}

/* Right Side */
.mailing_right {
  width: 50%;
  height: 100%;
}
@media (max-width: 768px) {
  .mailing_right {
    width: 100%;
  }
}
.mailing_right_info .mailing_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mailing_right_info .mailing_form .mailing_err_msg {
  color: orange;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  background-color: #525252;
  transition: var(--main_transition);
  box-shadow: var(--main-shadow);
}
.light_mode .mailing_right_info .mailing_form .mailing_err_msg {
  background: #d5dde0;
}
.mailing_right_info .mailing_form .mailing_success_msg {
  color: #47c71d;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  background-color: #525252;
  transition: var(--main_transition);
  box-shadow: var(--main-shadow);
}
.light_mode .mailing_right_info .mailing_form .mailing_success_msg {
  background: #d5dde0;
}
.mailing_form .mailing_field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: var(--main_transition);
}
.mailing_form .mailing_field .mailing_label {
  font-size: 13px;
}
.mailing_form .mailing_field .mailing_input {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: var(--main_transition);
}
.light_mode .mailing_form .mailing_field .mailing_input {
  background: #d5dde0;
}
.mailing_form .mailing_field .mailing_input::placeholder {
  font-size: 12px;
}
.mailing_form .mailing_field .mailing_textarea {
  width: 100%;
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  resize: none;
  transition: var(--main_transition);
}
.light_mode .mailing_form .mailing_field .mailing_textarea {
  background: #d5dde0;
}
.mailing_form .mailing_submit .mailing_submit_button {
  width: 80%;
  height: 35px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  background-image: linear-gradient(10deg, #19499c 0%, #2980b9 100%);
}
.mailing_form .mailing_submit .mailing_submit_button:hover {
  background-image: linear-gradient(10deg, #2980b9 0%, #19499c 100%);
}
