.patterns_signals {
  width: 100%;
  height: 26.5%;
  margin-right: 5px;
  border-radius: 4px 0px 4px 4px;
}
.patterns_signals .patterns_signals_tabs {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}
.patterns_signals .patterns_signals_tabs .tab {
  color: #bababa;
  background-color: #3b3b3b;
  font-size: 12px;
  padding: 6px;
  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
}
.light_mode .patterns_signals_tabs .tab {
  color: #40484d;
  background-color: #e8ebed;
}
.patterns_signals .patterns_signals_tabs .tab:hover {
  color: rgb(229, 229, 229);
  background-color: #5252529f;
}
.light_mode .patterns_signals .patterns_signals_tabs .tab:hover {
  color: #292929;
  background-color: #e2e5e7;
}
.patterns_signals .patterns_signals_tabs .tab_active {
  color: white;
  background-color: #525252;
}
.light_mode .patterns_signals_tabs .tab_active {
  color: #161717;
  background-color: #d5dde0;
}
.patterns_signals_tabs .tab_active:hover {
  color: white;
  background-color: #525252;
}
.light_mode .patterns_signals_tabs .tab_active:hover {
  color: #161717;
  background-color: #d5dde0;
}
.patterns_signals .patterns_signals_content {
  width: 100%;
  height: 85%;
  background-color: #525252;
  padding-top: 5px;
  border-radius: 0px 4px 4px 4px;
}
.light_mode .patterns_signals .patterns_signals_content {
  background-color: #d5dde0;
}
.patterns_signals .patterns_signals_section {
  width: calc(100% - 12px);
  height: 145px;
  background-color: #292929;
  margin-left: 6px;
  padding: 5px;
  border-radius: var(--border_radius);
  overflow: auto;
}
.light_mode .patterns_signals .patterns_signals_section {
  background-color: white;
}
.patterns_signals_section .patterns_signals_info {
  display: flex;
  flex-direction: column;
}
.patterns_signals_info hr {
  width: 100%;
  height: 1px;
  background-color: #525252;
  margin-top: 3px;
  margin-bottom: 4px;
  border: none;
}
.light_mode .patterns_signals_info hr {
  background-color: #d5dde0;
}
.patterns_signals_section .patterns_signals_info .patterns_signals_header {
  display: flex;
  justify-content: space-between;
}
.patterns_signals_section .patterns_signals_info .header_p {
  font-size: 12px;
}
.patterns_signals_data {
  display: flex;
  justify-content: space-between;
}
.patterns_signals_data .patterns_data_p {
  font-size: 12px;
}
.patterns_signals_data .data_p1 {
  width: 50px;
}
.patterns_signals_data .data_p2 {
  width: 25px;
}
.patterns_signals_data .data_p3 {
  width: 70px;
}
.patterns_signals_data .data_p4 {
  width: 30px;
}
.patterns_signals_data .data_p5 {
  width: 150px;
}
.patterns_signals_data .data_p6 {
  width: 15px;
}
.patterns_signals_data .data_p7 {
  width: 60px;
}
.patterns_signals_data .data_p8 {
  width: 60px;
}
.patterns_signals_data .data_p9 {
  width: 60px;
}
