.patternsSignals_general {
  position: relative;
}
.patterns_signals {
  width: 100%;
  height: 100%;
  margin-right: 5px;
  border-radius: 4px 0px 4px 4px;
}
@media (min-width: 481px) and (max-width: 767px) {
  .patterns_signals {
    height: 200px;
  }
}
.patterns_signals_blur {
  filter: blur(8px);
  pointer-events: none;
}

.login_btn_signal {
  position: absolute;
  top: 50%;
  left: 35%;
  color: white;
  background-color: #525252;
  padding: 6px 20px;
  border: none;
  outline: none;
  border-radius: var(--border_radius);
  transition: var(--main_transition);
  cursor: pointer;
}
.light_mode .login_btn_signal {
  background-color: #98b1ba;
}
.login_btn_signal:hover {
  background-color: var(--main_color);
}

.patterns_signals .patterns_signals_tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.patterns_signals .patterns_signals_tabs .left_tabs {
  display: flex;
  gap: 5px;
}
.patterns_signals .left_tabs .tab {
  color: #bababa;
  background-color: #3b3b3b;
  font-size: 12px;
  padding: 6px;
  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
}
.light_mode .left_tabs .tab {
  color: #40484d;
  background-color: #e8ebed;
}
.patterns_signals .left_tabs .tab:hover {
  color: white;
  background-color: #5252529f;
}
.light_mode .patterns_signals .left_tabs .tab:hover {
  color: #292929;
  background-color: #e2e5e7;
}
.patterns_signals .left_tabs .tab_active {
  color: white;
  background-color: #525252;
}
.light_mode .left_tabs .tab_active {
  color: #161717;
  background-color: #d5dde0;
}
.left_tabs .tab_active:hover {
  color: white;
  background-color: #525252;
}
.light_mode .left_tabs .tab_active:hover {
  color: #161717;
  background-color: #d5dde0;
}
.patterns_signals .patterns_signals_tabs .right_search {
  background-color: #525252;
  padding: 3px;
  border-radius: 4px 4px 0px 0px;
}
.light_mode .patterns_signals .patterns_signals_tabs .right_search {
  background-color: #d5dde0;
}
.patterns_signals_tabs .right_search .search_field {
  width: 200px;
  display: flex;
  justify-content: center;
  position: relative;
}
.right_search .search_field .search_input {
  width: 100%;
  color: #bababa;
  background-color: #1a1a1a;
  font-size: 11px;
  padding: 5px 10px;
  border: none;
  outline: none;
  position: relative;
  border-radius: var(--border_radius);
}
.right_search .search_field .search_input::placeholder {
  font-size: 10px;
}
.light_mode .right_search .search_field .search_input {
  color: #000;
  background-color: #e6ebed;
}
.patterns_signals_tabs .right_search .search_field i {
  color: #bababa;
  position: absolute;
  right: 2px;
  top: 4px;
  cursor: pointer;
}
.light_mode .patterns_signals_tabs .right_search .search_field i {
  color: #6f6f6f;
}
.patterns_signals .patterns_signals_content {
  width: 100%;
  height: 23vh;
  background-color: #525252;
  padding-top: 5px;
  border-radius: 0px 0px 4px 4px;
}
@media (min-width: 481px) and (max-width: 767px) {
  .patterns_signals .patterns_signals_content {
    height: 150px;
  }
}
.light_mode .patterns_signals .patterns_signals_content {
  background-color: #d5dde0;
}
.patterns_signals .patterns_signals_section {
  width: calc(100% - 12px);
  height: calc(100% - 5px);
  background-color: #292929;
  margin-left: 6px;
  padding: 5px;
  border-radius: var(--border_radius);
  overflow: auto;
  position: relative;
}
.light_mode .patterns_signals .patterns_signals_section {
  background-color: white;
}
.patterns_signals_section .patterns_signals_info {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
}
.patterns_signals_section .patterns_signals_info:hover {
  background-color: #8f8f8f55;
}
.patterns_signals_info .patterns_s_info_div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.patterns_s_info_div .patterns_s_header {
  color: #a6a6a6;
  font-size: 12px;
  text-align: center;
}
.patterns_s_info_div .patterns_s_value {
  font-size: 12px;
  text-align: center;
}
.patterns_signals_section hr {
  width: 100%;
  height: 1px;
  background-color: #525252;
  border: none;
  outline: none;
}
.light_mode .patterns_signals_section hr {
  background-color: #d5dde0;
}
