.watchlist {
  height: 250px;
  margin-top: 7px;
  overflow: auto;
  flex: 1;
}
.watchlist .watchlist_section {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-right: 6px;
}
.watchlist .popular {
  position: relative;

}
.watchlist .popular .popular_section {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #525252;
  padding: 6px 0px 6px 10px;
  border-radius: var(--border_radius);
  cursor: pointer;
}
.light_mode .watchlist .popular_section {
  background-color: #d5dde0;
  display: flex;
  align-items: center;
  gap: 2px;
}
.watchlist .popular_section i {
  color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--main_transition);
}
.light_mode .watchlist .popular_section i {
  color: #4a4d4f;
  font-size: 19px;
}
.watchlist .popular_section:hover i {
  color: white;
}
.light_mode .watchlist .popular_section:hover  i {
  color: #000;
}
.watchlist .popular_section  p {
  font-size: 11px;
}
.watchlist .new_watchlist {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background-color: #4a4a4a;
  padding: 7px 0px 7px 10px;
  border-radius: var(--border_radius);
  cursor: pointer;
}
.watchlist .new_watchlist_active {
  background-color: #525252;
}
.light_mode .watchlist .new_watchlist {
  background-color: #edf0f2;
}
.watchlist .new_watchlist:hover {
  background-color: #525252;
}
.light_mode .watchlist .new_watchlist:hover {
  background-color: #d5dde0a9;
}
.watchlist .new_watchlist i {
  display: flex;
  color: #cccccc;
  font-size: 11px;
}
.light_mode .watchlist .new_watchlist i {
  color: #000;
}
.watchlist .new_watchlist p {
  font-size: 11px;
}
