.watchlist {
  height: calc(100vh - 310px);
}
.watchlist .watchlist_section {
  max-height: calc(100% - 45px);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 6px;
  overflow: auto;
}
@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .watchlist .watchlist_section {
    max-height: 320px;
  }
}
.view_data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px;
  border-bottom: 1px solid #454545;
  cursor: pointer;
}
.light_mode .view_data {
  border-bottom: 1px solid #d5dde0;
}
.view_data:hover {
  background-color: #45454573;
}
.light_mode .view_data:hover {
  background-color: #d5dde0;
}
.view_data .view_icon_star {
  font-size: 11px;
}
.view_data .starred {
  color: #ffd414;
}
.view_data .view_icon_check {
  color: var(--buy_color);
  font-size: 11px;
}
.view_data .view_symbol {
  width: 45px;
  font-size: 10px;
  font-weight: 500;
}
.view_data .view_percent_change {
  width: 30px;
  font-size: 11px;
  text-align: right;
  color: var(--natural_color);
}
.light_mode .view_data .view_percent_change {
  color: #454545;
}
.view_data .view_ask_price {
  width: 60px;
  font-size: 11px;
  text-align: right;
}
.view_data .view_bid_price {
  width: 60px;
  font-size: 11px;
  text-align: right;
}
