.moving {
  width: 100%;
  height: 93%;
  background-color: #525252;
  padding-bottom: 15px;
  border-radius: 0 4px 4px 4px;
}
.light_mode .moving {
  background-color: #d5dde0;
}
.moving .moving_content {
  padding-top: 35px;
}
.moving .moving_section {
  width: calc(100% - 12px);
  height: 94%;
  background-color: #292929;
  margin-right: 6px;
  margin-left: 6px;
  padding: 6px;
  border-radius: var(--border_radius);
  overflow: auto;
}
.light_mode .moving .moving_section {
  background-color: white;
}
