.tech_indicator {
  width: 100%;
  height: calc(100vh - 95px);
  background-color: #525252;
  border-radius: 0 4px 4px 4px;
}
.light_mode .tech_indicator {
  background-color: #d5dde0;
}
.tech_indicator .tech_tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3px;
  padding: 5px;
  border-radius: 0 4px 4px 4px;
}
.tech_tabs .tech_tab {
  width: 100%;
  color: #d1d1d1;
  background-color: #6b6b6b;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  padding: 6px;
  cursor: pointer;
}
.light_mode .tech_tabs .tech_tab {
  color: #52536e;
  background-color: #edf0f2;
}
.tech_tabs .tech_tab:hover {
  color: white;
  background-color: #808080;
}
.light_mode .tech_tabs .tech_tab:hover {
  color: black;
  background-color: #f6f6f6;
}
.tech_tabs .tech_tab_active {
  color: white;
  background-color: #3b3b3b;
}
.tech_tabs .tech_tab_active:hover {
  color: white;
  background-color: #3b3b3b;
}
.light_mode .tech_tabs .tech_tab_active {
  color: black;
  background-color: white;
}
.light_mode .tech_tabs .tech_tab_active:hover {
  color: black;
  background-color: white;
}
.tech_section {
  width: calc(100% - 12px);
  height: calc(100% - 42px);
  background-color: #292929;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: var(--border_radius);
  padding: 6px;
}
.light_mode .tech_section {
  background-color: white;
}
.tech_section .tech_values {
  display: flex;
  justify-content: space-between;
}
.tech_section .tech_values .data_values {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 8px;
  z-index: 10;
}
.tech_section .tech_values .chart_values {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.tech_values .value_bar_container {
  width: 90px;
  height: 11px;
  position: relative;
}
.value_bar_container .value_bar_center {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #525252;
  left: 50%;
  transform: translateX(-50%);
}
.light_mode .value_bar_container .value_bar_center {
  background-color: #d5dde0;
}
.value_bar_container .value_bar {
  height: 100%;
  position: absolute;
}
.value_bar_container .value_bar_right {
  left: 50%;
  transform-origin: left;
}
.value_bar_container .value_bar_left {
  right: 50%;
  transform-origin: right;
}
.tech_section .tech_values .status_values {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}
.tech_section .tech_values .status_values p {
  font-size: 12px;
  text-align: right;
}
.tech_section .tech_chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.tech_section .tech_chart .chart_info {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.tech_section .chart_info .chart_info_div {
  display: flex;
  align-items: center;
  gap: 3px;
}
.tech_section .chart_info .chart_info_div .chart_shape {
  width: 15px;
  height: 15px;
}
.tech_section .chart_info .chart_info_div .chart_name {
  font-size: 13px;
}
.tech_section .chart_info .chart_info_div .chart_num {
  font-size: 13px;
}
.tech_section .tech_chart .word {
  color: white;
  font-weight: 500;
  padding: 8px;
  border-radius: 15px;
}
