.right_side {
  width: 350px;
  height: 100%;
  border-radius: 4px 0px 4px 4px;
  transition: var(--main_transition);
}
@media (max-width: 480px) and (orientation: portrait) {
  .right_side {
    width: 100%;
    height: calc(100% - 30px);
  }
}
@media (min-width: 481px) {
  .right_side {
    margin-left: 5px;
  }
}
@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .right_side {
    min-height: 600px;
  }
}
@media (min-width: 767px) and (max-width: 1024px) and (orientation: portrait) {
  .right_side {
    width: 385px;
  }
}
.sm_right_side {
  width: 40px;
  height: 100%;
  background-color: #3b3b3b;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border_radius);
  transition: var(--main_transition);
}
@media (max-width: 480px) and (orientation: portrait) {
  .sm_right_side {
    width: 45px;
    height: 640px;
    margin-top: 5px;
  }
}
@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .sm_right_side {
    min-height: 605px;
  }
}
.light_mode .sm_right_side {
  background-color: #edf0f2;
}
.right_side .tabs {
  display: flex;
  gap: 5px;
}
.sm_right_side .tabs {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 5px;
}
.right_side .tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 500;
  color: #bababa;
  background-color: #3b3b3b;
  padding: 6px;
  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
}
.sm_right_side .tabs .tab {
  color: #bababa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.tabs .tab:hover {
  color: rgb(229, 229, 229);
  background-color: #5252529f;
}
.light_mode .tabs .tab {
  color: #40484d;
  background-color: #e8ebed;
}
.light_mode .sm_right_side .tabs .tab {
  color: #40484d;
  background-color: #d5dde0;
}
.light_mode .tabs .tab:hover {
  color: #292929;
  background-color: #e2e5e7;
}
.right_side .tabs .tab_active {
  color: white;
  background-color: #525252;
}
.light_mode .tabs .tab_active {
  color: #161717;
  background-color: #d5dde0;
}
.sm_right_side .tabs .tab_active {
  color: white;
  background-color: var(--main_color);
}
.light_mode .sm_right_side .tabs .tab_active {
  color: white;
  background-color: var(--main_color);
}
.sm_right_side .tabs .tab_active:hover {
  color: white;
  background-color: var(--main_color);
}
.light_mode .sm_right_side .tabs .tab_active:hover {
  color: white;
  background-color: var(--main_color);
}
.tabs .tab_active:hover {
  color: white;
  background-color: #525252;
}
.light_mode .tabs .tab_active:hover {
  color: #161717;
  background-color: #d5dde0;
}
.right_side_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
.right_side .right_side_bar {
  margin-left: 10px;
}
.sm_right_side .right_side_bar {
  margin-top: 10px;
  margin-bottom: 8px;
}
.right_side_bar span {
  content: "";
  height: 1px;
  width: 17px;
  background-color: #cfcfcf;
}
.light_mode .right_side_bar span {
  background-color: #0f0f0f;
}
