.autochartist {
  width: 100%;
  height: 93%;
  background-color: #525252;
  border-radius: 0 4px 4px 4px;
}
.light_mode .autochartist {
  background-color: #d5dde0;
}
.autochartist .autochartist_section {
  width: calc(100% - 12px);
  height: 99%;
  background-color: #292929;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: var(--border_radius);
}
.light_mode .autochartist .autochartist_section {
  background-color: white;
}
